<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>imgArt - Turn image into art!</title>
	<!-- JQUERY -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="js/bootstrap.min.js"></script>
	<!-- ANGULARJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.29/angular.min.js"></script>
	<script src="js/app.js"></script>

	<script src="js/ng-file-upload-shim.js"></script>
	<script src="js/ng-file-upload.js"></script>

	<style>
		.my-drop-zone { border: dotted 3px lightgray; height: 800px; }
		.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
		.another-file-over-class { border: dotted 3px green; }

		html, body { height: 100%; }
	</style>
</head>
<body ng-app="myApp" ng-controller="mainController as main">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12" align="center">
				<h1>imgArt - Turn your image into an Art!!</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="well my-drop-zone" align="center">
					<img ngf-thumbnail="file">
					<form name="form">
						Single Image with validations
						<div type="button" class="btn btn-info" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="2MB" ngf-resize="{width: 600, height: 600, quality: .7, type: 'image/jpeg'}">Select</div>
						<button type="submit" class="btn btn-danger" ng-click="submit()">Submit</button>
					</form>
				</div>
			</div>
			<div class="col-md-6">
				<div align="center">
					{{main.convertedImage}}
					<h3>Converted Image</h3>
				</div>
			</div>
		</div>	
	</div>
</body>
</html>